/* INPUT.STYL ======================================= */



// SELECT
.select
    position relative


    select
        position relative
        background: white url(../img/icons/carret-gray.svg) top 15px right 10px no-repeat
        background-size: 6px
        cursor pointer
        border: 1px solid gray1
        border-radius(5px)
        padding: 10px 15px
        -webkit-appearance: none
        font-size: 16px
        min-width: 62px
        z-index 1
        transition(.5s)



// Checkobox
.checkbox
    position relative
    flexbox()
    align-items: center
    justify-content: flex-start

    input
        margin-right 10px

    label
        flexbox()
        align-items: center
        justify-content: flex-start
        color: white
        height 40px
