- # encoding: UTF-8
!!! 5
%html(lang="en")
  %head
    / Google Tag Manager
    :javascript
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MHC7CMC');
    / End Google Tag Manager
    %title Developer Conference : Shift DEV

    %link(href="/apple-touch-icon.png?v=QEMrJgwEaY" rel="apple-touch-icon" sizes="180x180")/
    %link(href="/favicon-32x32.png?v=QEMrJgwEaY" rel="icon" sizes="32x32" type="image/png")/
    %link(href="/favicon-16x16.png?v=QEMrJgwEaY" rel="icon" sizes="16x16" type="image/png")/
    %link(href="/manifest.json?v=QEMrJgwEaY" rel="manifest")/
    %link(color="#5bbad5" href="/safari-pinned-tab.svg?v=QEMrJgwEaY" rel="mask-icon")/
    %link(href="/favicon.ico?v=QEMrJgwEaY" rel="shortcut icon")/
    %meta(content="#ffffff" name="theme-color")/

    %meta(charset="UTF-8")/
    %meta(name="keywords" content="Shift, 2019, developer, developer conference, conference, dev")/
    %meta(name="description" content="The biggest Developer Conference in Southeast Europe. This event, Shift 2019 is the seventh and will bring together more than 1300 attendees. During the two conference days, Shift becomes a meeting place for developers in the most beautiful city in the world.")/
    %meta(name="author" content="horvaticluka@gmail.com")/
    %meta(id="meta" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover")/

    %meta(property="og:image" content="https://dev.shiftconf.co/img/backgrounds/dev2019-bg.svg" )/
    %meta(property="og:site_name" content="Developer Conference : Shift DEV 2019")/
    %meta(property="og:title" content="Developer Conference : Shift DEV 2019")/
    %meta(property="og:discription" content="The biggest Developer Conference in Southeast Europe. This event, Shift 2019 is the seventh and will bring together more than 1300 attendees. During the two conference days, Shift becomes a meeting place for developers in the most beautiful city in the world.")/
    %meta(property="og:url" content="https://dev.shiftconf.co/" )/

    %link(rel="stylesheet" href="/css/main.css")/


    / Global site tag (gtag.js) - Google Analytics
    %script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-113486610-2")
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113486610-2');


    / Facebook Pixel Code
    :javascript
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window,document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '687667491600360');
      fbq('track', 'PageView');
    %noscript
      %img(height="1" src="https://www.facebook.com/tr?id=687667491600360&ev=PageView\r\n&noscript=1" width="1")/
    / End Facebook Pixel Code


  %body
    / Google Tag Manager (noscript)
    %noscript
      %iframe(height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-MHC7CMC" style="display:none;visibility:hidden" width="0")
    / End Google Tag Manager (noscript)


    / NAVBAR SECTION **************************************
    .navBar
      .container
        %a.navBar__logo(href="/")
          -# %svg(height="45" viewbox="0 0 435 367" width="53" xmlns="http://www.w3.org/2000/svg")
          -#   %path(d="M57.17 325.35v34.3h8.96c3.85 0 6.65-1.19 8.33-3.57 1.75-2.45 2.59-6.93 2.59-13.58-.28-13.86-3.29-17.15-10.92-17.15h-8.96zM66.13 367H49.47v-49h16.66c11.48 0 18.62 7.49 18.62 24.5 0 17.08-7.14 24.5-18.62 24.5zm59.5 0H95.32v-49h30.31v7.35h-22.61v12.18h20.58v7.35h-20.58v14.77h22.61V367zm31.29 0h-7.91l-16.94-49h8.33l12.6 38.5 12.74-38.5h8.33l-17.15 49zM435 293.71H0V0h435v293.71zM15.4 278.367h404.185V15.322H15.4v263.045zm29.457-168.852l13.52-12.295c4.697 6.2 11.125 9.442 18.508 9.442 6.042 0 9.778-2.099 9.778-5.624 0-3.43-1.915-4.862-8.248-6.195l-8.628-1.909c-13.14-2.859-19.753-10.008-19.753-21.255 0-12.867 10.739-20.682 28.096-20.682 11.41 0 21.383 3.524 28.191 10.197l-11.41 12.678c-4.701-5.146-11.794-8.293-18.317-8.293-5.277 0-8.533 1.81-8.533 4.768 0 3.147 2.206 4.669 9.203 6.195l9.78 2.187c12.944 2.86 18.607 9.154 18.607 20.494 0 14.106-11.22 22.687-29.553 22.687-13.235-.005-24.74-4.485-31.241-12.395zm68.15-58.335h19.373v29.642c3.066-6.373 8.053-9.52 14.956-9.52 10.36 0 15.631 6.572 15.631 19.35v29.643H143.6V92.65c0-4.763-1.726-7.15-5.278-7.15-3.836 0-5.947 3.048-5.947 8.676v26.118h-19.368V51.18zm59.829-.288h19.753v16.014h-19.753V50.892zm.19 21.732h19.373v47.66h-19.373v-47.66zm63.1 12.2h-10.554v35.46h-19.368v-35.46h-7.098v-12.2h7.098v-2.86c0-12.772 7.193-19.156 21.478-19.156 2.84.03 5.67.35 8.444.955v13.25c-1.453-.287-2.93-.445-4.412-.472-3.931 0-6.137 1.999-6.137 5.434v2.86h10.554v12.2l-.005-.01zm5.262-12.2h7.958V61.76l19.373-7.244v18.108h11.029v12.2h-11.03V99.03c0 4.386 2.497 6.861 7.003 6.861 1.348.014 2.695-.082 4.027-.288v14.687c-4.312.666-6.903.955-9.589.955-14.1 0-20.808-5.434-20.808-16.786V84.825h-7.963V72.624zM93.84 235.648v10.008H46.656v-10.008H93.84z" fill="#FFF" fill-rule="nonzero")
        .navBar__btn

        .navBar__nav
          .navBar__close
          %ul
            -# %li.nav-dropdown
            -#   %span#nav-dropdown.nav__link
            -#     Why Attend
            -#     .nav__arrow
            -#     .nav__vertical
            -#       %a.nav__link(href="/why-attend/ ") Why Attend
            -#       %a.nav__link(href="/why-attend/attendees/") Attendees
            -#       %a.nav__link(href="/why-attend/sponsors/") Sponsors
            -#       %a.nav__link(href="/why-attend/startups/") Startups
            -#       %a.nav__link(href="/why-attend/investors/") Investors
            -#       %a.nav__link(href="/why-attend/developers/") Developers
            -# %li.nav-dropdown
            -#   %span#nav-dropdown2.nav__link
            -#     Blog
            -#     .nav__arrow
            -#     .nav__vertical
            -#       %a.nav__link(href="/blog/why-shift-dev/") Why Shift Dev
            -#       %a.nav__link(href="/blog/discover-split/") Discover Split
            -#       %a.nav__link(href="/blog/top-10-speakers/") Top 10 Speakers
            -#       %a.nav__link(href="/blog/top-agenda-items/") Top Agenda Items
            -# %li.navMobile__item
            -#   .navMobile__name Why Attend
            -#   .navMobile__box
            -#     .navMobile__list
            -#       %a.nav__link(href="/why-attend/ ") Why Attend
            -#       %a.nav__link(href="/why-attend/attendees/") Attendees
            -#       %a.nav__link(href="/why-attend/sponsors/") Sponsors
            -#       %a.nav__link(href="/why-attend/startups/") Startups
            -#       %a.nav__link(href="/why-attend/investors/") Investors
            -#       %a.nav__link(href="/why-attend/developers/") Developers
            -# %li.navMobile__item
            -#   .navMobile__name Blog
            -#   .navMobile__box
            -#     .navMobile__list
            -#       %a.nav__link(href="/blog/why-shift-dev/") Why Shift Dev
            -#       %a.nav__link(href="/blog/discover-split/") Discover Split
            -#       %a.nav__link(href="/blog/top-10-speakers/") Top 10 Speakers
            -#       %a.nav__link(href="/blog/top-agenda-items/") Top Agenda Items
            %li
              %a.btn.blue.empty(href="/safety") Safety
            %li
              %a.nav__link(href="/#about") About
            %li
              %a.nav__link(href="/#speakers") Speakers
            -# %li
            -#   %a.nav__link(href="/#schedule") Schedule
            %li
              %a.nav__link(href="/#sponsors") Sponsors
            %li
              %a.nav__link(href="/#location") Location
            %li
              %a.nav__link(href="/#footer") Contact
            %li
              %a.btn.gradient(href="/#tickets") 
                %span Get Tickets



    / NOTE SECTION **************************************
    #note.section
      .container
        %h2.large Terms and conditions 
        %br/
        %br/

        %h4 Part A – Our relationship with you
        %br/

        %h5 Who we are

        %p We are Shift Conference (“we”, “us” and “our”), a company incorporated under the laws of Croatia with company registration number 060273944, whose registered office is at Split, Westgate Split, 114. Brigade 8, Croatia.

        %h5 What we do
        %p We are organisers of conferences and events including “Shift Dev”, “Shift Money”, (each, a “Conference”).

        %h5 Structure of terms
        %p The agreement is between us and the person who completes the relevant Conference online registration form (“you” or “your”). Your agreement with us consists of:

        %ul
          %li Part A (Our relationship with you);
          %li Part B (General terms for all delegates);
          %li Part C (Attendee terms), which contains terms specific to registered attendees attending a Conference <b>(“Attendee”, “you”, “your”)</b>;
          %li Part D (Volunteer terms), which contains terms specific to volunteers attending a Conference <b>(“Volunteer”, “you”, “your”)</b>; and
          %li Part E (Exhibitor terms), which contains terms specific to exhibitors attending a Conference <b>(“Exhibitor”, “you”, “your”)</b>,

        %p We are committed to protecting your personal information. These Terms include and incorporate by reference our privacy policy, which explains the types of information collected, stored, shared and processed in connection with the relevant Conference, how and why we use such information, who we share it with and your legal rights.

        %p These Terms also include and incorporate by reference the ‘Terms and conditions – website and app’ to the extent including you through our website or app or complete registration and purchase of a ticket for attendance at a Conference or apply to be a volunteer at a Conference

        %h5 Your agreement with us
        %p You should read this document carefully. These Terms govern your online registration, attendance at and/or participation at a Conference. By registering for the Conference you agree that you have read and accepted these Terms and agree to be legally bound them. If you do not wish to be bound by these Terms, please do not register, attend or participate in the Conference.

        %h5 Registering on behalf of another
        %p If you are registering on behalf of another person it is your obligation to make sure that the person attending is aware of these Terms and accepts them. By completing and submitting the registration form you are representing and warranting that you have made the person attending aware of these Terms and that they have accepted these Terms.

        %h5 Changes to this policy
        %p These Terms apply to you from the date of publishing and until these Terms are superseded by a new version. We may update these Terms at any time for legal or regulatory reasons, or to reflect changes in our services or business practices. Any amended Terms will be posted on here.

        %h5 Contact us
        %p We have done our best to explain things clearly for you in this document but if you have any questions, please let us know.
        %p Our registered office address is at Westgate Split, 114. Brigade 8, Split, Croatia; company number is 060273944; VAT number HR26815142990.
        %p 
          For questions about registration or assistance with any registration problems, please contact us at 
          %a(href="mailto:info@shiftconf.co") info@shiftconf.co
        %p 
          If you have any other questions, concerns, or complaints, you may contact us at
          %a(href="mailto:info@shiftconf.co") info@shiftconf.co

        %br/
        %br/
        %br/


        %h4 Part B – General terms for all delegates
        %br/


        %h5 Admittance to conferences
        %p We, in our sole discretion, and without any liability or obligation to refund, reserve the right to refuse admittance to or to eject from the Conference anyone that we determine:
        %p is behaving in a manner that could disrupt, hinder or cause a nuisance to the Conference or to the enjoyment of any other person or partner at the Conference;
        %p represents a security or health & safety risk to the Conference or to any person or partner; and/or
        %p fails to comply with, or is likely to fail to comply with, these Terms.
        %p You agree to comply with all applicable laws in connection with your attendance or participation at a Conference.

        %h5 Changes or cancellation of a conference
        %p We try to make sure that the Conference programmes, speakers, topics and venues are correct at the time of publishing, circumstances beyond our control may necessitate substitutions, alterations, postponements, or cancellations to the content, format, themes, name, performers, hosts, moderators, venue, or timing of a Conference.
        %p 
          We will endeavour to notify you as soon as reasonably practicable of any substitutions, postponements, or changes by posting the updated information on our 
          %a(href="/") website
        %p In the unlikely event of postponement or cancellation of a Conference, our total aggregate liability to you is limited to the refund of paid fees that remain after credit card and payment processing fees have been incurred and deducted, and we will not be liable to you for any expenditure, damage or loss incurred by you as a result of the cancellation or postponement.

        %h5 Photography, audio and video recording
        %p Any use of photographic, audio, video or other recording equipment at a Conference is strictly prohibited, unless it is approved by us in writing in advance.
        %p By attending the Conference you acknowledge and agree that the Conference (or any part of it) may be photographed or recorded by us or our partners. You agree to permit us, or any third party licensed by us, to use, distribute, broadcast, or otherwise globally disseminate your likeness, name, voice and words in perpetuity in television, radio, film, newspapers, magazines and other media now available and hereafter developed, both before, during and any time after the Conference, and in any form, without any further approval from you or any payment to you. This grant includes, but is not limited to, the right to edit the media, the right to use the media (alone or together with other information), and the right to allow others to use or distribute the media.

        %h5 Your attendance at a conference
        %p You are responsible for advising us at the time of making your booking regarding any special access requirements you require at the Conference.
        %p You are responsible for arranging your own appropriate insurance cover in connection with your attendance or exhibition at a Conference. We and our related companies will not be liable for any injury or damage to any person or to any real or personal property howsoever caused (except for death or personal injury as a result of our negligence or for any other type of liability that cannot by law be excluded or limited).
        %p During the Conference, you shall conduct yourself in an orderly manner and shall not act in any manner which causes offence, annoyance or inconvenience to other Attendees. Attendees shall not canvass, promote, advertise or solicit for business in a manner which, in our sole discretion, is deemed unacceptable. We reserve the right to remove from the Venue any attendee who we consider in our reasonable opinion contravenes applicable laws or regulations or our policies and procedures or those of the Venue, is likely to cause offence or annoyance or is otherwise inappropriate or does not comply with these terms.
        %p 
          Shift Conference is an environmentally conscious organisation which promotes a paperless event, where possible. As an attendee, you undertake not to distribute promotional materials or similar items save where a Litter Charge has been agreed with our express prior written consent. Minimum Litter Charge €5,000. Any attendee wishing to distribute promotional material or similar items should e-mail 
          %a(href="mailto:info@shiftconf.co") info@shiftconf.co
          to arrange invoicing and payment in advance of the event. All funds will be donated to a local Community / Environmental Fund of our choosing.

        %h5 Refund and cancellation
        %p Your ticket remains our property and is a personal revocable license, which may be withdrawn, and admission to a Conference may be refused at any time upon a refund of the printed registration price.
        %p If you are eligible under applicable law to avail of a right to cancel your purchase of a ticket within 14 days without giving any reason and to receive a reimbursement of payments, you need to notify us in writing of your decision to cancel your Conferences ticket within 14 days of the day the contract for distance selling was concluded. The refund will be made in the same form as the original payment was received (for example, a credit card payment will refund to same credit card account number).
        %p All purchases of Conference tickets are non-refundable in their entirety after the end of this 14 day ‘cooling off’ period. You acknowledge that all refunds are subject to deduction of a €10 or $10 transaction fee or as otherwise advised (depending on the currency of your original transaction).
        %p Our free and subsidised ticket promotions sometimes include a processing fee. This processing fee is non-refundable in its entirety.
        %p If an individual purchases a general Attendee ticket before purchasing a start-up ticket, we will not grant a full refund when the general Attendee ticket price has increased beyond the start-up ticket price.

        %h5 No reselling
        %p The tickets you purchase are for your own personal use or that of your business only and may not be resold under any circumstances, including but not limited to use as part of any promotion or competition. This includes subsidised tickets such as one day tickets, Women in Tech Tickets, Young Entrepreneur, Loyalty, Open Source, Youth Ticket and Scholarship tickets.
        %p Reselling or otherwise transferring your ticket, not in accordance with the Terms, will void the ticket and the ticket holder will not gain entry into the Conference. Where there has been any resale or attempted resale of any tickets (or any other breach of this term), we reserve the right to cancel the relevant tickets with immediate effect.
        %p We reserve the right to cancel any ticket purchase made by any person or body whom we reasonably believe to be associated with any ticket re-selling or ticket broker.

        %h5 Wristbands and lanyards
        %p For security and identification reasons, we require all delegates to:
        %p display on their wrist the official Conference wristband;
        %p display around their neck the official Conference lanyard containing their badge; and
        %p carry photo identification and display it at all times on request.
        %p 
          You will find details of the cost of replacing lost or damaged wristbands for a Conference on our 
          %a(href="/") website 
          The cost of replacing lost or damaged wristbands is correct at the time of publication and is subject to change.

        %h5 Badge scanning
        %p 
          If you choose to complete a Conference app profile, your profile will be discoverable and visible in the app to other Conference delegates. By using badge scanning you agree to the website 
          %a(href="/terms") terms and conditions 
          and our 
          %a(href="/privacy") privacy policy.

        %h5 Visa requirements
        %p It is your sole responsibility to take care of visa requirements. If you require an entry visa to attend, volunteer or exhibit at the Conference, you must allow sufficient time for the visa application procedure.
        %p In the event you are not granted a visa, we are under no obligation to refund your ticket unless you are eligible under applicable law to avail of a right to cancel your purchase of a ticket within 14 days of the day the contract for distance selling was concluded.

        %h5 Intellectual property rights
        %p All intellectual property rights in and to the Conference, the Conference content, and all materials distributed at or in connection with the Conference are owned by us, our related companies, and/or the Conference sponsors or speakers attending the Event. You must not reproduce or allow anyone one to reproduce trademarks or materials distributed by or on behalf of us at a Conference for any reason, without our prior written permission.
        %p Nothing in these Terms shall vest in you any legal or beneficial right in or to any intellectual property rights owned or used under licence by us or our related companies, or grant to you any right or licence to any other intellectual property rights of us or our related companies. All such intellectual property rights shall remain the exclusive property of us and our related companies.
        %p It is strictly forbidden for any company, organisation, or person to attempt to host or organise any event in conjunction with, contiguous to or purporting to be related to a Conference or its affiliates without the express prior permission and cooperation of us. We reserve their right to take such action (legal or otherwise), including a claim for damages as we, in our sole discretion, deem appropriate in the circumstances.

        %h5 Warranties
        %p To the extent permitted by the applicable law, we disclaim all warranties or conditions, either express or implied, or any part of them in respect of any aspect of a Conference or any related materials. You acknowledge and agree that in accepting these Terms you have not relied on any representation or warranty that is not expressly included in these Terms and you agree that you shall have no remedy in respect of any misrepresentation which has not become a part of these Terms.

        %h5 Limitation of Liability
        %p You acknowledge and agree that views expressed by speakers at or in connection with a Conference are their own and we do not accept any responsibility or liability for any advice given or views expressed during or in connection with a Conference.
        %p Materials shared or distributed at or in connection with a Conference are intended for information purposes only and should not be relied upon by you or others. We and our related companies do not provide any guarantees, conditions or warranties that the materials are complete or accurate and do not accept any responsibility or liability for reliance by you or any person on any aspect of the Conference and/or any information provided at the Conference.
        %p To the fullest extent allowed by applicable law:
        %p we and our related companies shall not be liable to you whether in contract, tort (including for negligence), misrepresentation, restitution or otherwise for any for any loss of profits; loss of sales or business; loss of agreements or contracts; loss of anticipated savings; loss of income; loss of opportunity; loss of or damage to goodwill; loss of use or corruption of software, data or information; and/or similar losses or pure economic loss, or for any indirect or consequential loss, costs, damages, charges or expenses however arising under or in connection with the performance or contemplated performance of the Terms, even if we had been advised of the possibility of same in advance; and
        %p subject to paragraph (a), our total aggregate liability in contract, tort (including negligence), misrepresentation, restitution or otherwise, arising under or in connection with the performance or contemplated performance of the Terms is limited to the total amount paid by you to us for your ticket to attend the Conference, after the payment of any processing fees or bank charges applicable.
        %p Nothing in these Terms purports to exclude or limit liability for any fraudulent statement or act or in respect of any liability that cannot excluded or limited under applicable law.

        %h5 Indemnity
        %p You agree to defend, indemnify, and hold us, our related companies, affiliates, subsidiaries, joint ventures, third-party service providers, and our respective employees, contractors, agents, officers, and directors harmless from all claims, liability, damages, losses, costs and expenses, including legal fees, that arise out of or are related to any breach of the Terms by you or any other liabilities incurred by us arising out of your attendance or participation at a Conference.

        %h5 Force majeure
        %p We are not liable if a Conference is, in whole or in part, cancelled, rescheduled or postponed, or for any failure or delay to perform our obligations under these Terms, if such event results from anything beyond our reasonable control (for example, natural disasters, flood, fire, acts of terror, war, labour strike, extreme weather malicious damage, compliance with any law or governmental order, or mechanical, electronic or communications failure or degradation, or any other emergency) or anything else that renders performance of a Conference, in whole or in part, impracticable, illegal or impossible.

        %h5 Governing law and jurisdiction
        %p This interpretation, formation and operation of the Terms and all non-contractual obligations arising from or connected with them shall be governed by and construed in accordance with, and all disputes between the parties arising out of or in any way relating to the Terms or any disputes between the parties in any way connected with the subject matter of these Terms (whether contractual or non-contractual) shall be governed by, the laws of Ireland.
        %p Each of the parties submits to the exclusive jurisdiction of the Irish Courts.
        %p Nothing contained in the Terms shall limit our right to bring enforcement proceedings in another jurisdiction or to seek interim, protective or provisional relief in the courts of another jurisdiction.

        %h5 Some final terms
        %p These Terms (including our privacy policy) contain the entire agreement and understanding between us in respect of all matters which are referred to herein and supersede any prior, written or oral agreement between us relating to such matters. You confirm that in agreeing to accept these Terms you have not relied on any representation that is not expressly included herein and you agree that you shall have no remedy in respect of any misrepresentation which has not become a part of these Terms. However, nothing in these Terms purports to exclude liability for any fraudulent statement or act.
        %p If a court with jurisdiction over these Terms finds that any part of these Terms is wholly or partly unenforceable, you and us agree that where possible, the court should modify the terms to make that part enforceable while still achieving its intent. If the court cannot do that, you and us agree that the court should not have regard to that unenforceable part but still enforce the rest of these Terms.
        %p If we fail to insist that you perform any of your obligations under these Terms or we do not act or delay in acting to in exercise a right or remedy provided by these Terms that does not mean we have waived our rights or remedies against you and will not mean that you do not have to comply with your obligations.
        %p These Terms are personal to you. You agree not to assign or transfer your rights or obligations under these Terms to anyone else without receiving our prior written consent. We may assign or transfer these Terms without your consent by providing you with notice.
        %p You and us agree that no agency, partnership, joint venture, or employment is created as a result of these Terms and you do not have any authority of any kind to bind us in any respect.
        %p You agree that the only way you can provide us with a legal notice is at the address(s) set out in Part A above.
        %p To the extent allowed by law, the English language version of the Terms is binding and any translations are for convenience only.
        %p In these Terms:
        %p a reference to the Terms includes all its parts described in Part A, and includes any amendment to or replacement of them;
        %p headings are for reference purposes only and do not form part of the Terms;
        %p a reference to a statute, code or other law includes regulations and other instruments under it and consolidations, amendments, re-enactments or replacements of any of them;
        %p the singular includes the plural, and vice versa; and
        %p “includes”, “including”, “for example”, “such as” and similar terms are not words of limitation.
        %p If you are a consumer, nothing in these Terms excludes any of your applicable consumer or other statutory legal rights that cannot be waived.

        %br/
        %br/
        %br/

        %h4 Part C – Attendee terms
        %br/

        %h5 Tickets and pricing
        %p 
          You will find details of attendee ticket pricing and fees for a Conference 
          %a(href="/index.html#tickets") here
          Ticket prices for a Conference are correct at the time of publication.

        %p We reserve the right to change the ticket prices at any time but any changes will not affect tickets that have already been purchased.

        %p A valid ticket entitles you to entry to the relevant Conference as an Attendee, but does not include any requirements associated with travel to or from the Conference or any accommodation costs incurred and we shall have no liability for such costs or expenses.

        %p In certain cases, free or subsidised tickets may be offered within 30 days of the Conference start date. In these instances, tickets must be assigned within 7 days of receipt of your ticket in accordance with the details provided in the above paragraph.

        %h5 Delivery
        %p Once a successful ticket transaction has been completed, tickets are delivered in electronic soft-copy via email to the email address nominated by the Attendee. For some ticket types it may be necessary to complete required information such as Attendee name or tax identification number before the tickets can be issued.

        %p The ticket acts as a receipt for the transaction and can be used to gain entry to the Conference listed on the ticket. The ticket reference number can be used to access the mobile app, in order to register at the Conference.

        %p All tickets must be assigned to an Attendee, and all Attendee details must be complete within 30 days of receipt of your ticket. For the avoidance of doubt, this includes name, job title, company name and a passport style photo. Ticket reassignment after this date is subject to the Terms.

        %h5 Discounts
        %p We may from time to time offer certain discounted ticket promotions to encourage attendance at a Conference. We are not obligated to offer any discounts for a particular Conference and reserve the right to chance or withdraw a discount offer at any time in our sole discretion.

        %p Women in tech tickets: In order to address any gender imbalance at our Conferences, we may, from time to time, offer free and/or subsidised Conference tickets to female Attendees (“Women in tech tickets”) at our absolute discretion. It is a strict condition of these promotions that only female Attendees can gain admission to a Conference using women in tech tickets.

        %p Shift Conference day tickets: In our efforts to allow young people to attend our Conferences, we may, from time to time, offer them free and subsidised tickets our Conferences from time to time. It is a strict condition of these promotions that only individuals 16 to 23 years of age, inclusive, can gain admission to a Conference using these tickets. Any person redeeming a Shift Conference Day Ticket must provide relevant identification, such as a Cartão de Cidadão. No name changes for Shift Conference Day Tickets will be facilitated prior to the commencement of the Conference.

        %h5 Ticket name changes
        %p 
          If an Attendee finds that they cannot attend a Conference they must notify us as soon as possible (and in any event no later than 7 days before the commencement of the Conference) by email at: 
          %a(href="mailto:info@shiftconf.co") info@shiftconf.co
          and request a name change on their ticket. We may in our absolute discretion allow the name change. Shift Conference Day Ticket holders are not allowed name changes on their tickets.

        %h5 Age limitation
        %p All attendees under 18 years of age (“Youth Attendees”), must be accompanied by an adult chaperone or have guardian permission to attend the Conference and all related events. Youth Attendees may attend the Conference subject to the following requirements:

        %p 
          Age* of Youth Attendee
          %br/
          Requirement To Maintain Validity of Ticket
          %br/
          16-17 years
          %br/
          Must purchase Youth Ticket;
          %br/
          Must be accompanied by an adult chaperone at point of registration/accreditation collection only. The adult chaperone is not required to registration for a ticket or to attend the Conference;
          %br/
          Adult chaperone must have valid identification and provide valid contact information for the duration of the Conference; and
          %br/
          Documentation for the authorisation of the Youth Attendee’s attendance prior to registration/accreditation collection may be required**, including but not limited to:
          %br/
          Copy of passport or other identification for both the Youth Attendee and the adult chaperone(s);
          %br/
          Copy of the Youth Attendee’s birth certificate; and
          %br/
          Notarized letter of consent signed by a legal guardian or both parents (or by a single parent with accompanying proof of sole custody).

        %p 
          4-15 years
          %br/
          Must purchase Youth Ticket; and
          %br/
          Must be accompanied by a ticketed adult chaperone for duration of Conference.

        %p 
          3 and under
          %br/
          Admitted free of charge; and
          %br/
          Must be accompanied by a ticketed adult chaperone for duration of Conference.
          %br/
          *Date of birth prior to date of ticket collection
          %br/
          **We reserve the right to refuse admission to anyone who fails to comply with these documentation requirements

        %br/
        %br/
        %br/

        %h4 Part D – Volunteer terms
        %br/

        %h5 Selection
        %p You may apply to be a Volunteer at a Conference.
        %p There is no guarantee that applicants wishing to volunteer at the Conference will be selected and selection of Volunteers is at our sole discretion.
        %p Selected Volunteers must attest to the truth of all statements made in their volunteer application.
        %p Without limiting their other obligations under these Terms, Volunteers are subject to the following rules governing their relationship with us:
        %p •	Volunteers will not receive compensation for travel or accommodation associated with the Conference;
        %p •	Volunteers who violate any of these Terms, behave in a manner that could be disruptive to the Conference or any other Attendee, Volunteer, Exhibitor and/ or partner, consume alcohol and/or illegal substances before or while on duty, or fail to show up for an assigned shift may be stripped of their credentials, denied access to the Conference, and may be subject to removal from the Conference grounds;
        %p •	Volunteers acknowledge they may be photographed or recorded in accordance with the section “Photography, Audio and Video Recording”; and
        %p •	Volunteers who may be handling confidential information agree to handle such information in the strictest confidence and abide by the rules governing its use as provided for in the [Privacy Policy].

        %h5 Ticket refund
        %p If you have been selected to be a Volunteer at a Conference but have already bought a ticket, you are not eligible for a refund or reimbursement under any circumstances.

        %br/
        %br/
        %br/

        %h4 Part E – Exhibitor terms
        %br/
        %h5 Exhibitors
        %p We offer space at Conferences to Exhibitors who wish to occupy a location at the Conference and operate a stall where they can exhibit certain goods or services to delegates (an “Exhibit”) at agreed times, subject to these Terms.
        %p The Exhibitor is only permitted to conduct business from its allotted Space and shall not canvass, promote, advertise or solicit for business in any other area of the Venue without our express prior written consent.
        %p The Exhibitor is prohibited from sub-letting the Space without our express prior written consent. If and to the extent that the Exhibitor is permitted to sublet the Space, the Exhibitor shall remain responsible for the Space and shall be liable for any breach of these terms by any party to whom the Space is sublet.
        %p The Exhibitor shall not canvass, promote, advertise or solicit for business on behalf of unrelated Third Parties without our express prior written consent.
        %p The Exhibitor’s operation of the Exhibit at the Conference shall be carried out in full compliance with these Terms.

        %h5 Location of exhibits
        %p We retain the right in our absolute discretion to relocate the Exhibits and/or require the Exhibitor to occupy an alternative Exhibit within the specified site at the Conference where we deem it to be necessary in the best interests of the Conference or as may be required on security, health & safety grounds or otherwise.

        %h5 Standard of upkeep
        %p The Exhibitor must keep and maintain the interior, exterior, the fittings and equipment installed at the Exhibits in clean, orderly, sanitary and good repair.

        %h5 Waste
        %p The exhibitor is responsible for the disposal of all waste products and rubbish and for taking off-site all rubbish generated by it. If required, the Exhibitor shall provide litter bins for the use at the Conference which the Exhibitor must remove from the site at the end of each day. The Exhibitor is also responsible for the periodic clean-up of tables and floors in their Exhibit area and the surrounding area.

        %h5 Access
        %p We permit the Exhibitor to operate the Exhibit between the hours as communicated from time to time. The Exhibitor must ensure, to the complete satisfaction of us, that all Exhibits and rubbish are completely dismantled and removed off-site each day of the Conference. The Exhibitor is not entitled to permit anyone, other than its personnel or those having business with the Exhibitor, to have access to the Exhibit area.

        %h5 Health and safety
        %p An Exhibitor vending food and beverage must ensure that it is registered with its local food standards and safety office and is, at all times, in compliance with the relevant laws and safety and compliance standards. The Exhibitor must possess and display at its Exhibit a valid licence demonstrating its registration with its local food standards and safety office.
        %p All cooking and heating equipment shall be of a safe and compliant standard. The Exhibitor must ensure that any external gas units are appropriately caged. Such units shall be kept away from public access. The Exhibitor must ensure that its Exhibit is equipped with the proper number, size and type of charged fire extinguishers.

        %h5 Security instructions
        %p The Exhibitor must observe and comply with, and ensure that its staff engaged at the Exhibits observe and comply with, all instructions and directions given by or on behalf of us or venue management, and with our and venue management’s rules and regulations as communicated from time to time. The Exhibitor must not damage or allow its employees to damage the site that is hosting the Conference or the Exhibit or any part thereof. All Exhibitor personnel on site must wear identification badges at all times and must not enter any restricted areas.

        %h5 Provided equipment by us
        %p 
          All equipment (screens, laptops, cabling and other electronic equipment, rooms, furniture etc.) supplied by us at the Conference are on a rental basis and no exchange, transfer or refund of ordered items on-site will be permitted. Any complaint regarding rented items or installation must be lodged by emailing 
          %a(href="mailto:info@shiftconf.co") info@shiftconf.co
          before the opening of the Conference. In respect of items rented on the day, items should be inspected immediately and tested to ensure they work. Otherwise, all items are deemed to be received in good order and condition.
        %p Exhibitors must pay for all damages or losses to equipment supplied to them. The equipment must be insured by the Exhibitor, who will remain liable until our authorised staff have collected the equipment. In case of non-return, the Exhibitor will be required to reimburse us for the full cost of the equipment at the original insurance value.
        %p Cancelled orders are not refundable. Non-standard items may be offered on request, subject to a separate quotation, and are subject to the same terms.
        %p Nothing in these Terms creates or deems to create the relationship of landlord and tenant between us and the Exhibitor nor should these Terms be construed as creating a transfer of a property interest to the Exhibitor nor any greater interest in the Conference in favour of the Exhibitor.

        %h5 Exhibitor insurance
        %p Each Exhibitor must effect and maintain with an insurer of repute the level of insurance as set out in the Event Sponsorship and Exhibition Agreement, and upon request shall produce to us evidence of the current policy of such insurances and receipts for the premiums payable thereof. Failure to make provision of such evidence to our satisfaction of will permit to immediately terminate these Terms and your right to Exhibit at the Conference.












    / FOOTER SECTION **************************************
    #footer.section
      .container
        .footer__row(data-scroll="toggle(.fromBottomIn, .fromBottomOut), centerHorizontal, centerVertical, once")
          .footer__logo
        .footer__row(data-scroll="toggle(.fromBottomIn, .fromBottomOut), centerHorizontal, centerVertical, once")
          .footer__wrap
            .footer__col
              %p September 2 & 3 2021 — Split, Croatia
              %p Shift Dev is a two-day single stage developer event, consisting of a balance of educational and inspirational talks, delivered with a side of workshops and networking events located on the beautiful Mediterranean coast.


            .footer__col
              %h3 Our Events
              .footer-previous
                .footer-previous__item
                  .footer-previous__name Shift AI
                  .footer-previous__box
                    .footer-previous__list
                      %a(href="https://ai.shiftconf.co/" target="_blank") Shift AI 2021
                      %a(href="https://ai.shiftconf.co/2020" target="_blank") Shift AI 2020
                .footer-previous__item
                  .footer-previous__name Shift Money
                  .footer-previous__box
                    .footer-previous__list
                      %a(href="https://money.shiftconf.co/" target="_blank") Shift Money 2020
                      %a(href="https://money.shiftconf.co/2019" target="_blank") Shift Money 2019
                      %a(href="https://money.shiftconf.co/2018" target="_blank") Shift Money 2018
                .footer-previous__item
                  .footer-previous__name Shift Remote
                  .footer-previous__box
                    .footer-previous__list
                      %a(href="https://remote.shiftconf.co/" target="_blank") Shift Remote 2020
                .footer-previous__item
                  .footer-previous__name Shift Dev
                  .footer-previous__box
                    .footer-previous__list
                      %a(href="https://dev.shiftconf.co/" target="_blank") Shift Dev 2021
                      %a(href="https://dev.shiftconf.co/2020" target="_blank") Shift Dev 2020
                      %a(href="https://dev.shiftconf.co/2019" target="_blank") Shift Dev 2019
                      %a(href="https://dev.shiftconf.co/2018" target="_blank") Shift Dev 2018
                      %a(href="https://dev.shiftconf.co/2017" target="_blank") Shift Dev 2017
                      %a(href="https://dev.shiftconf.co/2016" target="_blank") Shift Dev 2016

            .footer__col
              .footer__row.footer__row--info
                .footer__item
                  .footer__icon
                    %svg(height="31" viewbox="0 0 31 31" width="31" xmlns="http://www.w3.org/2000/svg")
                      %g(fill="none" fill-rule="evenodd")
                        %path(d="M30.06 15.03C30.06 6.729 23.33 0 15.03 0 6.73 0 0 6.729 0 15.03c0 8.3 6.73 15.029 15.03 15.029 8.3 0 15.03-6.728 15.03-15.03" fill="#005DF2" opacity=".2")
                        %path(d="M15.03 16.03c-1.029-.846-1.717-1.89-2.078-2.483l-.269-.508c.094-.102.813-.87 1.123-1.288.392-.525-.175-.997-.175-.997s-1.596-1.597-1.96-1.913c-.364-.318-.783-.142-.783-.142-.764.494-1.557.924-1.604 2.989-.002 1.934 1.466 3.929 3.054 5.473 1.59 1.744 3.772 3.49 5.883 3.489 2.066-.047 2.495-.84 2.99-1.603 0 0 .175-.42-.142-.783-.316-.364-1.913-1.961-1.913-1.961s-.474-.567-.997-.175c-.392.292-1.093.94-1.262 1.099 0 0-1.173-.626-1.868-1.196" fill="#FFF")
                  .footer__text +385 98 954 4199
                .footer__item
                  .footer__icon
                    %svg(height="31" viewbox="0 0 31 31" width="31" xmlns="http://www.w3.org/2000/svg")
                      %g(fill="none" fill-rule="evenodd")
                        %path(d="M30.65 15.03C30.65 6.729 23.921 0 15.621 0S.591 6.729.591 15.03c0 8.3 6.73 15.029 15.03 15.029 8.3 0 15.03-6.728 15.03-15.03" fill="#005DF2" opacity=".2")
                        %path(d="M21.065 9.65H10.176c-.859 0-1.555.672-1.555 1.5v7.5c0 .829.696 1.5 1.555 1.5h10.89c.858 0 1.555-.671 1.555-1.5v-7.5c0-.828-.697-1.5-1.556-1.5zm0 3l-5.444 3.75-5.445-3.75v-1.5l5.445 3.75 5.444-3.75v1.5z" fill="#FFF")
                  %a.footer__text(href="mailto:shift@shiftconf.co") shift@shiftconf.co
              .footer__row
                .footer-social
                  %a(href="https://twitter.com/shiftconf_co" target="_blank")
                    %svg(height="18" viewbox="0 0 22 18" width="22" xmlns="http://www.w3.org/2000/svg")
                      %path(d="M6.749 18c8.107 0 12.543-6.927 12.543-12.924 0-.195 0-.39-.009-.585.86-.638 1.608-1.444 2.2-2.356-.79.363-1.641.602-2.535.717.911-.558 1.607-1.452 1.943-2.515-.851.522-1.797.894-2.803 1.098C17.28.549 16.137 0 14.873 0c-2.433 0-4.41 2.037-4.41 4.544 0 .355.043.7.111 1.037C6.912 5.395 3.662 3.579 1.487.833 1.11 1.506.894 2.285.894 3.118c0 1.577.782 2.968 1.96 3.783-.722-.027-1.401-.23-1.994-.567v.062c0 2.197 1.521 4.039 3.533 4.455-.37.107-.756.16-1.16.16-.284 0-.56-.027-.826-.08.559 1.807 2.192 3.118 4.118 3.154-1.513 1.222-3.413 1.948-5.476 1.948-.353 0-.705-.017-1.049-.062C1.943 17.247 4.264 18 6.749 18" fill="#FFF" fill-rule="nonzero")
                  %a(href="https://www.facebook.com/shiftconf.co/" target="_blank")
                    %svg(height="21" viewbox="0 0 22 21" width="22" xmlns="http://www.w3.org/2000/svg")
                      %path(d="M22 3.5C22 1.661 20.26 0 18.333 0H3.667C1.739 0 0 1.661 0 3.5v14C0 19.339 1.74 21 3.667 21H11v-7.933H8.311v-3.5H11V8.203c0-2.352 1.85-4.47 4.125-4.47h2.964v3.5h-2.964c-.324 0-.703.376-.703.94v1.394h3.667v3.5h-3.667V21h3.911C20.261 21 22 19.339 22 17.5v-14z" fill="#FFF" fill-rule="nonzero")
                  %a(href="https://www.youtube.com/user/TheShiftConference" target="_blank")
                    %svg(height="21" viewbox="0 0 32 21" width="32" xmlns="http://www.w3.org/2000/svg")
                      %path(d="M30.64 2.024C29.772.55 28.83.279 26.912.176 24.996.052 20.178 0 16.004 0 11.822 0 7.002.052 5.088.174 3.174.279 2.23.548 1.354 2.024.46 3.496 0 6.03 0 10.494v.016c0 4.444.46 6.998 1.354 8.455.876 1.474 1.818 1.741 3.732 1.865 1.916.107 6.736.17 10.918.17 4.174 0 8.992-.063 10.91-.168 1.918-.124 2.86-.391 3.728-1.865C31.544 17.51 32 14.956 32 10.51v-.01-.005c0-4.465-.456-7-1.36-8.472zM12 16.227V4.773L22 10.5l-10 5.727z" fill="#FFF" fill-rule="nonzero")
                  %a(href="https://www.flickr.com/photos/shiftsplit/sets/" target="_blank")
                    %svg(height="21" viewbox="0 0 22 21" width="22" xmlns="http://www.w3.org/2000/svg")
                      %path(d="M20.79 1.155C19.983.385 19.012 0 17.875 0H4.125C2.989 0 2.017.385 1.21 1.155.403 1.925 0 2.853 0 3.937v13.125c0 1.085.403 2.012 1.21 2.783C2.017 20.615 2.99 21 4.125 21h13.75c1.136 0 2.108-.385 2.915-1.155.807-.77 1.21-1.698 1.21-2.783V3.937c0-1.084-.403-2.012-1.21-2.782zM9.11 12.551c-.593.565-1.309.848-2.149.848-.84 0-1.556-.283-2.148-.848-.592-.565-.888-1.249-.888-2.051s.295-1.486.888-2.05C5.404 7.883 6.12 7.6 6.96 7.6c.84 0 1.556.283 2.149.848.591.565.887 1.249.887 2.05 0 .803-.296 1.487-.887 2.052zm8.077 0c-.591.565-1.307.848-2.148.848-.84 0-1.556-.283-2.149-.848-.591-.565-.888-1.249-.888-2.051s.297-1.486.888-2.05c.593-.566 1.309-.849 2.149-.849.84 0 1.556.283 2.148.848.592.565.889 1.249.889 2.05 0 .803-.297 1.487-.889 2.052z" fill="#FFF" fill-rule="nonzero")
                  %a(href="https://www.instagram.com/shiftconf.co/" target="_blank")
                    %svg(height="18" viewbox="0 0 18 18" width="18" xmlns="http://www.w3.org/2000/svg")
                      %g(fill="none" fill-rule="nonzero")
                        %path(d="M12.638 0H5.362C2.406 0 0 2.406 0 5.362v7.276C0 15.594 2.406 18 5.362 18h7.276C15.594 18 18 15.594 18 12.638V5.362C18 2.406 15.594 0 12.638 0zm3.551 12.638c0 1.961-1.59 3.551-3.551 3.551H5.362c-1.961 0-3.551-1.59-3.551-3.551V5.362c0-1.961 1.59-3.551 3.551-3.551h7.276c1.961 0 3.551 1.59 3.551 3.551v7.276z" fill="url(#a)")
                        %path(d="M9 4.39C6.458 4.39 4.39 6.458 4.39 9c0 2.542 2.068 4.61 4.61 4.61 2.542 0 4.61-2.068 4.61-4.61 0-2.542-2.068-4.61-4.61-4.61zm0 7.427c-1.556 0-2.817-1.261-2.817-2.817 0-1.556 1.261-2.817 2.817-2.817 1.556 0 2.817 1.261 2.817 2.817 0 1.556-1.261 2.817-2.817 2.817z" fill="url(#b)")
                        %circle(cx="13.829" cy="4.171" fill="url(#c)" r="1.098")
                  %a(href="https://medium.com/shiftconf" target="_blank")
                    %svg(width="20" height="20" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg")
                      %path(d="M17 0c1.657 0 3 1.343 3 3v14c0 1.657-1.343 3-3 3H3c-1.657 0-3-1.343-3-3V3c0-1.657 1.343-3 3-3h14zM7.244 4.513H3.35v.226l1.254 1.51c.12.109.183.265.171.425l-.001.015v5.938c.035.21-.028.423-.172.578l-.01.012-1.412 1.712v.225h4.002v-.225l-1.41-1.712c-.15-.153-.221-.363-.197-.574l.002-.016V7.491l3.512 7.663h.408l3.017-7.663v6.133c0 .138-.005.173-.098.267l-.009.01-1.085 1.053v.225h5.27v-.225l-1.048-1.029c-.09-.068-.135-.178-.121-.29l.002-.01V6.067c-.019-.11.023-.223.11-.294l.009-.007 1.072-1.028v-.226h-3.713l-2.647 6.603-3.01-6.603z" fill="#FFF" fill-rule="evenodd")
                  %a(href="https://www.slideshare.net/shiftconf" target="_blank")
                    %svg(height="20" viewbox="0 0 97 98" width="20" xmlns="http://www.w3.org/2000/svg")
                      %path(d="M92.951 46.469c2.916-2.033 4.826.736 3.037 3.381-3.476 4.262-10.091 9.555-20.233 13.719 10.754 36.55-26.188 42.355-25.624 23.615 0 .338-.018-10.045-.034-17.781-.791-.195-1.631-.418-2.601-.646l-.036 18.427c.565 18.74-36.352 12.935-25.623-23.615C11.696 59.405 5.082 54.112 1.603 49.85c-1.787-2.646.124-5.415 3.039-3.381.393.281.785.548 1.175.813V9.48C5.817 4.237 9.76 0 14.612 0H83.03c4.853 0 8.796 4.237 8.796 9.48v37.767c.374-.254.749-.509 1.125-.778zm-36.425 9.31c6.142.193 17.466 1.433 30.621-5.677V13.766c0-6.246-2.032-8.72-7.789-8.72H18.804c-6.076 0-7.767 2.082-7.767 8.72v36.642c12.902 6.76 23.98 5.559 30.033 5.371 2.539-.126 4.174.435 5.164 1.479.174.146.355.302.544.48 1.139 1.057 2.249 1.976 3.336 2.748.223-2.993 1.896-4.935 6.412-4.707zm6.615-26.481c6.491 0 11.758 4.923 11.758 10.999 0 6.076-5.267 10.999-11.758 10.999-6.492 0-11.761-4.923-11.761-10.999 0-6.076 5.269-10.999 11.761-10.999zM35.776 51.296c-6.493 0-11.757-4.924-11.757-10.999s5.264-10.999 11.757-10.999c6.493 0 11.757 4.924 11.757 10.999s-5.264 10.999-11.757 10.999z" fill="#FFF" fill-rule="nonzero")

              .footer__row.footer__row--right
                %a.btn.gradient(href="/#tickets") 
                  %span Get Tickets

              .footer__row
                .footer__copyright
                  %a(href="/press") Press
                  %span &#124;
                  %a(href="/note") Founder's note
                  %span &#124;
                  %a(href="/code") Code of Conduct
                  %span &#124;
                  %a(href="/sponsor") Become a sponsor
                  %br/
                  %a(href="/terms") Terms & conditions
                  %span &#124;
                  %a(href="/privacy") Privacy policy
                  %span &#124;
                  %span 
                    © 
                    :javascript
                      document.write(new Date().getFullYear());
                    Shift


                .contact.hide
                  Shift Conference
                  %br/
                  %br/
                  114. brigade 8,
                  %br/
                  21000 Split, Croatia
                  %br/
                  %br/
                  %a(href="mailto: shift@shiftconf.co") shift@shiftconf.co







    




  %script(src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript")
  %script(src="/min/script-min.js" type="text/javascript")
