/* NUMBERS.STYL ======================================= */

.numbers
    padding: 50px 0
    flexbox()
    justify-content: space-between
    align-items: center

    .numbersItem
        // width: 160px
        // height 160px
        // border-radius(100%)
        box-sizing()
        flexbox()
        flex-center()
        flex-flow: column nowrap
        font-size: 100px
        font-weight: 700
        text-align: center
        color:  white

        .numbersItem__box
            flexbox()
            flex-center()
            font-size: 100px
            font-weight: 700
            text-align: center
            color:  white

            span
                font-size: 100px
                font-weight: 700
                color: green

        span
            font-size: 16px
            color: green

        // &:nth-child(1)
        //     // border: 8px solid red
        //     color: red
        // &:nth-child(2)
        //     // border: 8px solid green
        //     color: green
        // &:nth-child(3)
        //     // border: 8px solid tiel
        //     color: tiel
        // &:nth-child(4)
        //     // border: 8px solid yellow
        //     color: yellow