/* PREVOUIS.STYL ======================================= */


#previous
    padding: 20px 0

    .container
        position relative


    .title-desc 
        line-height: 1.7 !important
        max-width: 450px !important
        color: white
        margin-top: 50px

.previous
    flexbox()
    align-items: center
    width: 100%
    margin: 20px auto 50px auto
    position relative

    .previousList
        flexbox()
        flex-flow: row nowrap
        background: black
        height 560px
        width: 100%
        overflow: hidden
        display: none

        &.previousList--active
            display: flex !important

        .previousList__col
            width: 295px
            flexbox()
            flex-flow: row wrap

            .previousList__item
                position relative
                overflow hidden
                transition(.3s)

                &:hover 
                    .previousList__mask
                        opacity 1
                    img
                        transform: scale(1.02)

                img
                    object-fit: cover
                    transition(.3s)

                &.previousList__item--small
                    width: 100%
                    height 280px
        
                &.previousList__item--large
                    width: 100%
                    height 100%

        .previousList__mask
            flexbox()
            flex-center()
            position: absolute
            width: 100%
            height 100%
            top: 0
            bottom: 0
            left: 0
            right: 0
            background: black06
            opacity 0
            transition(.3s)
            z-index 2

    .previousMenu
        position absolute
        top: -15px
        left: 295px
        flexbox()
        flex-flow: column nowrap
        align-items: flex-start
        justify-content: space-between
        width: 300px
        height 590px
        background: green
        padding: 50px 25px
        box-sizing()
        color: white

        .previousMenu__title
            font-size: 18px
            color: white
            line-height: 1.2

        .previousMenu__links

            .previousMenu__item
                flexbox()
                flex-center()
                flex-flow: column nowrap
                font-size: 17px
                font-weight: 600
                margin-bottom: 15px
                cursor: pointer

                &:last-child
                    margin-bottom: 0

                &:after
                    content: ''
                    width: 40px
                    height 2px
                    background: white
                    position relative
                    opacity 0
                    transition(.3s)

                &.previousMenu__item--active:after,
                &:hover:after
                    opacity 1


        .previousMenu__buttons
            flexbox()
            position absolute
            bottom: 50px
            right: 25px
            display: none

            &.previousMenu__buttons--active
                display: flex !important
            
            .previousMenu__btn
                flexbox()
                flex-center()
                width: 42px
                height 42px
                border-radius: 100%
                background: white
                transition(.3s)
                cursor: pointer
                noselect()


                &:first-child
                    margin-right: 10px
                
                &:hover:first-child
                    transform: translate3d(-5px, 0, 0)
                &:hover:last-child
                    transform: translate3d(5px, 0, 0)

.previous-bg
    width: 473px
    height 71px
    background: url(../img/backgrounds/photos-bg.svg) center no-repeat
    background-size: contain
    position absolute
    bottom: -110px
    left 0


