/* COLOR-PALETE.STYL ======================================= */

trans = transparent
black = #000
black03 = rgba(0, 0, 0, 0.3)
black06 = rgba(0, 0, 0, 0.6)
black08 = rgba(0, 0, 0, 0.8)
white = #fff
white015 = rgba(255, 255, 255, 0.15)
white03 = rgba(255, 255, 255, 0.3)
white06 = rgba(255, 255, 255, 0.6)

lightGray = #FAFAFA
gray1 = #E6E6E6
gray2 = #C0C0C0
gray3 = #BCBCBC
blue = #015df2
darkBlue1 = #092E82
darkBlue = #0e1d30
green = #0fd895
tiel = #52d2de
red = #ff6a7f
yellow = #ffce6e

